<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}{% endblock %}
	</title>
	<link rel="stylesheet" href="css/common.css">
	{% block head %}{% endblock %}
	<!-- <link rel="stylesheet" href="css/list.css"> -->
</head>
<body>
	<nav>我是导航</nav>
	{% block content %}{% endblock %}
	<footer>
		我是底部
	</footer>
</body>
<script src="js/jquery-1.12.4.js"></script>
<script src="js/common.js"></script>
{% block footer %}{% endblock %}
<!-- <script src="js/list.js"></script> -->
</html>