/*
做项目时顺序:
1.设计稿给出px尺寸和模拟机型 例如iPhone6 图片150px fontsize24px
2.算出比例
3.1rem = 37.5px
  150/37.5 = 4rem;
  24/37.5 = 0.6rem;
 */
* {
  margin: 0;
  padding: 0;
}
#app {
  width: 5.33333333rem;
  height: 5.33333333rem;
  background-color: red;
}
p {
  font-size: 0.8rem;
}
