<!DOCTYPE html>
<html>
  <head>
    <title>webb test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>美女多多</h1>
    <p>Welcome to <%= title %></p>
    <a href="http://localhost:3000/users/forward">点击看更多美女</a>
  </body>
</html>
