<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue Test</title>
</head>
<body>
	<div id="test">
		<table>
			<tr>
				<th>姓名</th>
				<th>年龄</th>
				<th>成绩</th>
				<th>是否及格</th>
			</tr>
			<tr v-for="person in persons">
				<td>{{person.name}}</td>
				<td>{{person.age}}</td>
				<td>{{person.score}}</td>
				<td v-if="person.score >= 60">是</td>
				<td v-else>否</td>
			</tr>
		</table>
	</div>
</body>
<script src="js/vue.js"></script>
<script>
	// console.log(Vue)
	var vm = new Vue({
		el:"#test",
		data:{
			persons:[
				{name:"张三",age:18,score:80},
				{name:"李四",age:20,score:37},
				{name:"王五",age:50,score:60},
			]
		}
	})

</script>
</html>