/*
* @Author: mac
* @Date:   2019-08-14 11:07:56
* @Last Modified by:   mac
* @Last Modified time: 2019-08-14 11:07:58
*/
.TodoList {
    width: 960px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}